{% extends "blog/base.html" %}
{% block content %}
    <div class="row">
        <div class="col-lg-9 col-md-12 mt-2">
            {% if user.is_authenticated %}
                <div class="microPost-form mb-2 ">
                    <form class="bg-light p-2 row" method="POST" enctype="multipart/form-data">
                        <div>
                            <img class="comment-owner-img" src="{{ request.user.avatar.url }}" alt="avatar">
                        </div>
                        <div class="col">
                            {% csrf_token %}
                            {{ micro_post_form.content }}
                            {{ micro_post_form.media }}
                            {{ micro_post_form.author }}
                            <div>
                                {{ micro_post_form.image }}
                            </div>
                            {{ tags_form.as_p }}
                        </div>
                        <div class="col-12 d-flex justify-content-center mt-2">
                            <button type="submit" class="btn btn-outline-info">Dodaj</button>
                        </div>
                    </form>
                </div>
            {% endif %}
            {% for post in posts %}
                    {% include 'microblog/micro_post.html' %}
            {% endfor %}
        </div>
        <div class="side-section col-md-3 mt-2">
            <div class="list-group">
                <div class="list-group-item list-group-item-light mt-1">
                    <span>Popularne tagi</span>
                    <div class="text-muted">
                        {% for tag in popular_tags %}
                            <a href="#" class="text-muted mini-font">#{{ tag.word }}</a>
                        {% endfor %}
                    </div>
                </div>
                <div class="list-group-item list-group-item-light mt-2">
                    <span>Gorące dyskusje</span>
                </div>
                <div class="bg-light">
                    <div class="list-group-item-light">
                        {% for side_post in popular_posts %}
                            <div class="side-box-post p-2">
                                {% if side_post.image %}
                                    <img src="{{ side_post.image.url }}" class="side-box-post-img" alt="post-img">
                                {% endif %}
                                <div class="side-box-post-text">
                                    <small class="blue-font m-0 p-0">{{ side_post.content | safe}}</small>
                                    <small>
                                        <i class="icon-thumbs-up red-font">{{ side_post.likes }}</i>
                                    </small>
                                </div>
                            </div>
                        {% endfor %}
                    </div>
                </div>
                <div class="list-group-item list-group-item-light mt-2">
                    Wykopalisko
                </div>
                <div class="bg-light">
                    <div class="list-group-item-light">
                        <div class="side-box-post p-2">
                            <img src="{{ request.user.avatar.url }}" class="side-box-post-img" alt="post-img">
                            <div class="side-box-post-text">
                                <small class="blue-font">Instagram zablokował Madonnę za fałszywe informacje o
                                    wirusie.</small>
                                <small>
                                    <i class="icon-thumbs-up red-font">123</i>
                                </small>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock content %}
<script>

</script>