<div class="comments mb-2">
    <article class="media bg-light p-2 row">
        <div>
            <img class="post-owner-img" src="{{ post.author.avatar.url }}" alt="avatar">
        </div>
        <div class="col">
            <div class="article-metadata row d-flex justify-content-between">
                <div class="col-10 p-0 d-flex flex-row align-items-center">
                    <a href="{% url 'profile' pk=post.author.id %}" class="blue-font"> @{{ post.author }}</a>
                    <small class="text-muted ml-1 p-0 mini-font">{{ post.date_posted|date:"F d, Y" }}</small>
                    {% if request.user == post.author %}
                        <div class="d-flex justify-content-start">
                            <a href="{% url 'post-update' pk=post.id %}">
                                <i class="red-font icon icon-pencil"></i>
                            </a>
                            <a href="{% url 'micro-post-delete' pk=post.id %}">
                                <i class="red-font icon icon-trash-empty"></i>
                            </a>
                        </div>
                    {% endif %}
                </div>
                <div class="    d-flex justify-content-end">
                    <a href="{% url 'micro-post-like' pk=post.id %}">
                        <i class="icon-plus-outline {% if post.is_liked == 1 %} green-font {% else %} upvote {% endif %}">{{ post.likes }}</i>
                    </a>
                </div>
            </div>
            {% if post.content %}
                <small class="post-content">{{ post.content |safe }}</small>
            {% endif %}
            <div class="col-12 p-0">
                {% for tag in post.tag.all %}
                    <small> <a href="{% url 'tag_stats' slug=tag.word %}" class="grey-font">#{{ tag.word }} </a>
                    </small>
                {% endfor %}
            </div>
            <div class="col-12 p-0">
                {% if post.image %}
                    <img class="col-12 col-md-12 micro-post-img p-0" alt="Obrazek" src="{{ post.image.url }}">
                {% endif %}
            </div>
        </div>
    </article>
    <div class="row bg-light p-2">
        <div class="col pl-5">
            {% for c in  post.comments.all %}
                <div {% if forloop.counter > 2 %} class="d-none" id="comments-box" {% endif %}>
                    {% if c.parent == None %}
                        {% include 'microblog/micro_post_comments.html' with comment=c %}
                        <div class="col pl-5 mt-3">
                            {% for child in c.children.all %}
                                {% include 'microblog/micro_post_comments.html' with comment=child %}
                            {% endfor %}
                        </div>
                    {% endif %}
                </div>
            {% endfor %}
            <div class="row d-flex justify-content-center">
                <button type="button" class="more-comments text-justify">
                    <small class="blue-font">
                        Więcej komentarzy ({{ post.comments.all.count }})
                        <i class="icon icon-plus"></i>
                    </small>
                </button>
            </div>
        </div>
    </div>
</div>
