<div class="top-header">
    <div class="container-xl">
        <div class="row no-gutters">
            <div class="col">
                <nav class="navbar navbar-expand-lg navbar-light">
                {% load static %}
                    <img src="{% static "images/wykop.png" %}" alt="Wypok.pl" class="navbar-logo">
                    <a class="navbar-brand font-weight-bold" href="{% url 'blog-home' %}">wypok.pl</a>
                    <button class="navbar-toggler" type="button" data-toggle="collapse"
                            data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent"
                            aria-expanded="false" aria-label="Toggle navigation">
                        <span class="navbar-toggler-icon"></span>
                    </button>

                    <div class="collapse navbar-collapse" id="navbarSupportedContent">
                        <ul class="navbar-nav mr-auto">
                            <li class="nav-item active">
                                <a class="nav-link" href="#">Nowe <span class="sr-only">(current)</span></a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="{% url 'hity' %}">Hity</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="{% url 'mikroblog' %}">Mikroblog</a>
                            </li>
                            {% if user.is_authenticated %}
                                <li class="nav-item">
                                    <a class="nav-link" href="#">Moje newsy</a>
                                </li>
                            {% endif %}
                        </ul>
                        <form class="form-inline my-2 my-lg-0">
                            <input class="form-control mr-sm-2 search-input" type="search" placeholder="Search" aria-label="Search">
                            <button class="btn btn-outline-light search-btn mr-2" type="submit">Search</button>
                        </form>
                        <div class="nav-item ">
                            <a class="nav-link pl-0" href="#">Dodaj</a>
                        </div>
                        <div class="nav-item">
                            <a class="nav-link pl-0" href="#">Wiadomości</a>
                        </div>
                        <div class="navbar-nav nav-item dropdown">
                            {% if user.is_authenticated %}
                                <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button"
                                   data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                    <img class="rounded-circle header-account-img" src="{{ request.user.avatar.url }}" alt="{{ request.user.username }}}">
                                </a>
                                <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                                    <a class="dropdown-item" href="{% url 'profile' pk=request.user.id %}">patkaPatolka</a>
                                    <a class="dropdown-item" href="#">Ulubione</a>
                                    <a class="dropdown-item" href="#">Ustawienia</a>
                                    <div class="dropdown-divider"></div>
                                    <a class="dropdown-item" href="{% url 'logout' %}">Wyloguj</a>
                                </div>
                            {% else %}
                                <div class="nav-item">
                                    <a class="nav-link" href="{% url 'login' %}">Zaloguj</a>
                                </div>
                                <div class="nav-item">
                                    <a class="nav-link" href="{% url 'register' %}">Rejestracja</a>
                                </div>
                            {% endif %}
                        </div>
                    </div>
                </nav>
            </div> <!-- column -->
        </div> <!-- row -->
    </div> <!-- container -->
</div> <!-- wrapper -->