{% extends "blog/base.html" %}
{% block content %}
    {% load static %}
    <div class="row d-flex justify-content-center p-4">
        <h5 class="text-muted">
            Chcesz dodać nowy artykuł lub zamieścić gotowy z sieci? Śmiało!
        </h5>
    </div>
    <div class="row bg-light p-4">
        <div class="card-deck">
            <div class="card">
                <img src="{% static "images/515374-PIL93P-445.jpg" %}" alt="img" class="add_post_img">
                <div class="card-body d-flex flex-column">
                    <h5 class="card-title">W Twoje ręce wpadła ciekawa informacja? Dodaj link do swojego znaleziska i
                        podziel się nim z innymi.</h5>
                    <form method="post" class="d-flex flex-column">
                        {% csrf_token %}
                        {{ form }}
                        {{ tag_form }}
                        <button class="btn btn-outline-info mt-3">Dodaj artykuł z sieci!</button>
                    </form>
                </div>
            </div>
            <div class="card">
                <img src="{% static "images/Blog Post.jpg" %}" alt="img" class="add_post_img">
                <div class="card-body d-flex flex-column">
                    <h5 class="card-title"> Masz coś do powiedzenia? Poszukujesz pomocy? Stworzyłeś coś i chcesz się
                        pochwalić?</h5>
                    <a href="{% url 'post-article-create' %}" class="btn btn-outline-info">Napisz nowy artykuł! </a>
                </div>
            </div>
        </div>
    </div>
    <a href='https://www.freepik.com/vectors/website' class="small text-muted">Website vector created by stories - www.freepik.com</a>

{% endblock %}