{% extends "blog/base.html" %}
{% block content %}
    {% load humanize %}
    <div class="row">
        <div class="col-lg-9 col-md-12">
           <article class="media bg-light row">
                        <div class="col-3 col-sm-2 col-md-1 col-lg-1 center-box">
                            <span>123</span>
                            <button class="btn btn-dark"><small>Podbij</small></button>
                        </div>
                      <img class="post-details-img col-12 col-sm-12 col-md-5" src="{{ post.image.url }}" alt="Zdjecie">
                      <div class="media-body col-12 col-sm-12 col-md-7 col-lg-8">
                        <div class="article-top-box">
                          <h5><a href="{{ post.link }}" target="_blank"> {{ post.title }}</a></h5>
                          <small><a class="blue-font" href="#">{{ post.author }}</a></small>
                            {% for tag in post.tag.all %}
                                <small class="text-muted"> <a href="#">#{{ tag.word }} </a> </small>
                            {% endfor %}
                        </div>
                      <div class="content">
                        <small>{{ post.content}}</small>
                      </div>
                      <div>
                        <small class="text-muted">
                            <i class="icon icon-star"> Ulubione</i>
                            <i class="icon icon-lock"> Zgłoś</i>
                        </small>
                      </div>

                      </div>
           </article>
        </div>
        <div class="col-md-3 side-section">
            <div class="post-user-info bg-light">
                <div class="mb-2">
                    Dodany: <span class="font-weight-bold mb-2">{{ post.date_posted|naturaltime }}</span>  przez:
                </div>
                <img src="{{ post.author.avatar.url }}" class="small-account-img" alt="Avatar">
                <a class="blue-font font-weight-bold" href="#">{{ post.author }}</a>
                <div class="row mt-2">
                    <small class="col-4 justify-content-center">Wykopali: 123</small>
                    <small class="col-4 justify-content-center">Zakopali: 4</small>
                    <small class="col-4 justify-content-center">12 wyświetleń</small>
                </div>
            </div>
           <p class="list-group-item list-group-item-light">Podobne posty</p>
           <div class="bg-light side-box">
               <img src="{{ request.user.avatar.url }}" alt="Podobny post" class="side-post-img">
               <div class="ml-2 font-weight-bold">
                   <div class="blue-font"> Podobny post numer 1</div>
                   <i class="icon-thumbs-up red-font"> 123</i>
               </div>
           </div>
        </div>
        <div class="col-12 col-md-12 col-lg-9 bg-light">
            <div class="comment">
                Komentarz
            </div>
              <div class="comment">
                Komentarz
            </div>
              <div class="comment">
                Komentarz
            </div>
              <div class="comment">
                Komentarz
            </div>
              <div class="comment">
                Komentarz
            </div>
              <div class="comment">
                Komentarz
            </div>

        </div>
    </div>
{% endblock %}