{% extends "blog/base.html" %}
{% block content %}
    {% load humanize %}
    <div class="row mt-2">
        <div class="col-md-12 col-lg-9">
            <form method="post">{% csrf_token %}
                {{ form.non_field_errors }}
                <div class="col-12 p-0 mt-1">
                    <label>Tytuł: </label>
                    {{ form.title }}
                </div>
                <div class="col-12 p-0 mt-1">
                    <label>Treść: </label>
                    {{ form.content }}
                </div>
                <div class="col-12 d-flex justify-content-between mt-1 p-0 small-form bg-light">
                    <ul class="list-group list-group-horizontal d-flex flex-wrap">
                        <li class="list-group-item pointer-buttons">B</li>
                        <li class="list-group-item pointer-buttons">I</li>
                        <li class="list-group-item pointer-buttons">"</li>
                        <li class="list-group-item pointer-buttons">link</li>
                        <li class="list-group-item pointer-buttons"> <\></li>
                        <li class="list-group-item pointer-buttons">spoil</li>
                        <li class="list-group-item pointer-buttons">( ͡° ͜ʖ ͡°)</li>
                    </ul>
                </div>
                {% if post.link %}
                    <div class="col-12 p-0 mt-1">
                        <label>Link do artykułu: </label>
                        {{ form.link }}
                    </div>
                {% endif %}
                <div class="col-12 bg-light p-2 mt-1">
                    <label>Tagi: </label>
                    {{ form.tag }}
                </div>
                <div class="col-12 bg-light p-2 mt-1">
                    {{ form.image }}
                </div>
                <div class="col-12 d-flex justify-content-center mt-3">
                    <input class="btn btn-success" type="submit" value="Zapisz">
                </div>
            </form>
        </div>
        <div class="col-md-3 side-section ">
            <div class="post-user-info bg-light p-2 mb-2">
                <div class="mb-2">
                    <small> Dodany <span class="font-weight-bold"> {{ post.date_posted|naturaltime }} </span>
                        przez:</small>
                </div>
                <img src="{{ post.author.avatar.url }}" class="header-account-img" alt="Avatar">
                <a class="blue-font font-weight-bold" href="{% url 'profile' pk=post.author.id %}">{{ post.author }}</a>
                <ul class="list-group mt-2">
                    <li class="list-group-item d-flex justify-content-between align-items-center">
                        Wykopali:
                        <span class="badge badge-success badge-pill">{{ post_up_vote }}</span>
                    </li>
                    <li class="list-group-item d-flex justify-content-between align-items-center">
                        Zakopali:
                        <span class="badge badge-danger badge-pill">{{ post_down_vote }}</span>
                    </li>
                    <li class="list-group-item d-flex justify-content-between align-items-center">
                        Wyświetlono:
                        <span class="badge badge-dark badge-pill">1</span>
                    </li>
                </ul>
            </div>
        </div>
    </div>
{% endblock %}
