{% extends "blog/base.html" %}
{% block content %}
    {% load humanize %}
    <div class="row mt-2">
        <div class="col-md-12 col-lg-9">
            <article class="bg-light row pt-2  d-flex justify-content-center">
                <div class="pr-1 mb-2 col-12 col-sm-2 col-md-1 center-box">
                    <span>{{ post_up_vote }}</span>
                    <button class="btn btn-dark"><small>Podbij</small></button>
                </div>
                <div class="col-12 col-sm-11">
                    <div class="row">
                        <div class="col-12 col-md-6 ">
                            <img class="post-details-img mb-2" src="{{ post.image.url }}" alt="Zdjecie">
                        </div>
                        <div class="col-12 col-md-6">
                            <div class="article-top-box">
                            <span><a href="{{ post.link }}" target="_blank"
                                     class="blue-font"> {{ post.title }}</a></span>
                                <div>
                                    <small><a class="blue-font" href="#">{{ post.author }}</a></small>
                                    {% for tag in post.tag.all %}
                                        <small> <a href="#" class="grey-font">#{{ tag.word }} </a> </small>
                                    {% endfor %}
                                </div>

                            </div>
                            <div class="content">
                                <small>{{ post.content }}</small>
                            </div>
                            <div>
                                <small>
                                    <i class="icon-star grey-font"> Ulubione</i>
                                    <i class="icon-lock grey-font"> Zgłoś</i>
                                </small>
                            </div>
                        </div>
                    </div>
                </div>
            </article>
            <div class=" bg-light mt-1 mb-0 row pl-4">
                <span class="p-2">Komentarze({{ comments }}): </span>
                <div class="col-12 col-sm-8 col-md-5 d-flex justify-content-between">
                    <div class="pointer-buttons p-2">Najstarsze</div>
                    <div class="pointer-buttons p-2">Najnowsze</div>
                    <div class="pointer-buttons p-2">Najlepsze</div>
                </div>
            </div>
            <div class="mt-0 row p-0">
                <div class="col-12">
                    {% for comment in post_comments %}
                        {% include 'blog/post_comments.html' %}
                    {% endfor %}
                </div>
            </div>
            {% if user.is_authenticated %}
                <form class="bg-light p-2 row mt-1" method="POST" enctype="multipart/form-data">
                    <div>
                        <img class="comment-owner-img" src="{{ request.user.avatar.url }}" alt="avatar">
                    </div>
                    <div class="col small-form">
                        {% csrf_token %}
                        {{ comment_form.non_field_errors }}
                        {{ comment_form.content }}
                        {{ comment_form.owner }}
                        {{ comment_form.post }}
                        <div class="col-12 d-flex justify-content-between mt-2 p-0">
                            <ul class="list-group list-group-horizontal d-flex flex-wrap">
                                <li class="list-group-item pointer-buttons">B</li>
                                <li class="list-group-item pointer-buttons">I</li>
                                <li class="list-group-item pointer-buttons">"</li>
                                <li class="list-group-item pointer-buttons">link</li>
                                <li class="list-group-item pointer-buttons"> <\></li>
                                <li class="list-group-item pointer-buttons">spoil</li>
                                <li class="list-group-item pointer-buttons">( ͡° ͜ʖ ͡°)</li>
                                <li class="list-group-item pointer-buttons">
                                    <label for="id_img" class="custom-file-upload">
                                        img
                                    </label>
                                    {{ comment_form.img }}
                                </li>
                                <li class="list-group-item pointer-buttons">ankieta</li>
                            </ul>
                            <button type="submit" class="btn btn-primary">Dodaj</button>
                        </div>
                    </div>
                </form>
            {% endif %}
        </div>
        <div class="col-md-3 side-section ">
            <div class="post-user-info bg-light p-2 mb-2">
                <div class="mb-2">
                    <small> Dodany <span class="font-weight-bold"> {{ post.date_posted|naturaltime }} </span>
                        przez:</small>
                </div>
                <img src="{{ post.author.avatar.url }}" class="header-account-img" alt="Avatar">
                <a class="blue-font font-weight-bold" href="{% url 'profile' pk=post.author.id %}">{{ post.author }}</a>
                <ul class="list-group mt-2">
                    <li class="list-group-item d-flex justify-content-between align-items-center">
                        Wykopali:
                        <span class="badge badge-success badge-pill">{{ post_up_vote }}</span>
                    </li>
                    <li class="list-group-item d-flex justify-content-between align-items-center">
                        Zakopali:
                        <span class="badge badge-danger badge-pill">{{ post_down_vote }}</span>
                    </li>
                    <li class="list-group-item d-flex justify-content-between align-items-center">
                        Wyświetlono:
                        <span class="badge badge-dark badge-pill">1</span>
                    </li>
                </ul>
            </div>
            <p class="list-group-item list-group-item-light m-0">Podobne posty</p>
            <div class="list-group-item-light mb-1">
                {% for similar_post in similar_posts %}
                    <div class="side-box-post p-2">
                        <img src="{{ similar_post.image.url }}" class="side-box-post-img" alt="post-img">
                        <div class="side-box-post-text">
                            <small>
                                <a class="blue-font"
                                   href="{% url 'post-detail' pk=similar_post.id %}"> {{ similar_post.title }}</a>
                            </small>
                            <small>
                                <i class="icon-thumbs-up red-font">{{ similar_post.likes }}</i>
                            </small>
                        </div>
                    </div>
                {% endfor %}
            </div>
        </div>
    </div>
{% endblock %}