{% extends "blog/base.html" %}
{% block content %}
    {% load humanize %}
    <div class="row mt-2">
        <div class="col-md-12 col-lg-9">
            <article class="bg-light row pt-2 pb-2 d-flex justify-content-center">
                <div class="pr-1 mb-2 col-12 col-sm-2 col-md-1 center-box">
                    <span>{{ post_up_vote }}</span>
                    <a class="{% if is_liked == 1 %}btn btn-success {% else %} btn btn-dark {% endif %}"
                       href="{% url 'post-like' pk=post.id %}"><small>Podbij</small></a>
                </div>
                <div class="col-12 col-sm-11">
                    <div class="row">
                        <div class="col-12 col-md-6 ">
                            {% if post.image %}
                                <img class="post-details-img mb-2" src="{{ post.image.url }}" alt="Zdjecie">
                            {% else %}
                                <img class="post-details-img mb-2" src="{{ post.image_url }}" alt="Zdjecie">
                            {% endif %}
                        </div>
                        <div class="col-12 col-md-6">
                            <div class="article-top-box">
                            <span><a href="{{ post.link }}" target="_blank"
                                     class="blue-font"> {{ post.title }}</a></span>
                                <div>
                                    <small><a class="blue-font" href="#">{{ post.author }}</a></small>
                                    {% for tag in post.tag.all %}
                                        <small> <a href="{% url 'tag_stats' slug=tag.word %}" class="grey-font">#{{ tag.word }} </a> </small>
                                    {% endfor %}
                                </div>
                            </div>
                            <div class="content pb-3">
                                <small>{{ post.content|safe }}</small>
                            </div>
                            <div>
                                <small>
                                    {% if request.user %}
                                        <a href="{% url 'fav_post' pk=post.id %}">
                                            {% if is_fav %}
                                                <i class="icon-star-filled yellow-font"> Ulubione</i>
                                            {% else %}
                                                <i class="icon-star grey-font"> Ulubione</i>
                                            {% endif %}
                                        </a>
                                        <a>
                                            <i class="icon-lock grey-font"> Zgłoś</i>
                                        </a>
                                    {% endif %}
                                    {% if request.user == post.author %}
                                        <a href="{% url 'post-update' pk=post.id %}">
                                            <i class="icon icon-pencil"> Edytuj</i>
                                        </a>
                                        <a href="{% url 'post-delete' pk=post.id %}">
                                            <i class="red-font icon icon-trash-empty"> Usuń</i>
                                        </a>
                                    {% endif %}
                                </small>
                            </div>

                        </div>
                    </div>
                </div>
            </article>
            <div class=" bg-light mt-1 mb-0 row pl-4">
                <span class="p-2">Komentarze({{ comments }}): </span>
                <div class="col-12 col-sm-8 col-md-5 d-flex justify-content-between">
                    <div class="pointer-buttons p-2">Najstarsze</div>
                    <div class="pointer-buttons p-2">Najnowsze</div>
                    <div class="pointer-buttons p-2">Najlepsze</div>
                </div>
            </div>
            <div class="mt-0 row p-0">
                <div class="col-12">
                    {% for comment in post_comments %}
                        {% include 'blog/post_comments.html' %}
                    {% endfor %}

                </div>
            </div>
            {% if user.is_authenticated %}
                <form class="bg-light p-2 row mt-1" method="POST" enctype="multipart/form-data">
                    <div>
                        <img class="comment-owner-img" src="{{ request.user.avatar.url }}" alt="avatar">
                    </div>
                    <div class="col small-form">
                        {% csrf_token %}
                        {{ comment_form.content }}
                        {{ comment_form.owner }}
                        {{ comment_form.img }}
                        {{ comment_form.post }}
                        <label for="id_img" class="image_upload" title="Dodaj obrazek">
                            {{ micro_post_form.image }}
                            <i class="icon-picture grey-font"></i>
                        </label>
                    </div>

                    <div class="col-12 d-flex justify-content-center">
                        <button type="submit" class="btn btn-outline-info">Dodaj</button>
                    </div>
                </form>
            {% endif %}
        </div>
        <div class="col-md-3 side-section ">
            <div class="post-user-info bg-light p-2 mb-2">
                <div class="mb-2">
                    <small> Dodany <span class="font-weight-bold"> {{ post.date_posted|naturaltime }} </span>
                        przez:</small>
                </div>
                <img src="{{ post.author.avatar.url }}" class="header-account-img" alt="Avatar">
                <a class="blue-font font-weight-bold" href="{% url 'profile' pk=post.author.id %}">{{ post.author }}</a>
                <ul class="list-group mt-2">
                    <li class="list-group-item d-flex justify-content-between align-items-center">
                        Wykopali:
                        <span class="badge badge-success badge-pill">{{ post_up_vote }}</span>
                    </li>
                    <li class="list-group-item d-flex justify-content-between align-items-center">
                        Zakopali:
                        <span class="badge badge-danger badge-pill">{{ post_down_vote }}</span>
                    </li>
                    <li class="list-group-item d-flex justify-content-between align-items-center">
                        Wyświetlono:
                        <span class="badge badge-dark badge-pill">1</span>
                    </li>
                </ul>
            </div>
            <p class="list-group-item list-group-item-light m-0">Podobne posty</p>
            <div class="list-group-item-light mb-1">
                {% for similar_post in similar_posts %}
                    <div class="side-box-post p-2">
                        {% if similar_post.image %}
                            <img src="{{ similar_post.image.url }}" class="side-box-post-img" alt="post-img">
                        {% else %}
                            <img src="{{ similar_post.image_url }}" class="side-box-post-img" alt="post-img">
                        {% endif %}
                        <div class="side-box-post-text">
                            <small>
                                <a class="blue-font"
                                   href="{% url 'post-detail' pk=similar_post.id %}"> {{ similar_post.title }}</a>
                            </small>
                            <small>
                                <i class="icon-thumbs-up red-font">{{ similar_post.likes }}</i>
                            </small>
                        </div>
                    </div>
                {% endfor %}
            </div>
        </div>
    </div>
{% endblock %}
