body {
    background-color: gainsboro;
}

/***************************************
 * FONTS
 ***************************************/

.white-font {
    color: white;
}

.grey-font {
    color: #686868;
    cursor: pointer;
}

.grey-font:hover {
    color: #363636;
}

.blue-font {
    color: #417690;
    cursor: pointer;
}

.green-font {
    color: #19865C;
}

.red-font {
    color: #cc3300;
}

.blue-font:hover {
    color: #e04813;
    cursor: pointer;
    text-decoration: none;
}

.mini-font {
    color: #4c4c4c;
    font-size: 12px;
}


/***************************************
 * icons
 ***************************************/
.icon {
    cursor: pointer;
}


/***************************************
 * HEADER
 ***************************************/

.nav-height {
    height: 45px;
}

.top-header {
    background-color: #2f6982;
}

.nav-link, .navbar-brand {
    color: white !important;
    font-size: 16px;
}

.navbar-logo {
    width: 55px;
}

.header-account-img {
    width: 35px;
}

.search-input {
    height: 30px;
}

.search-btn {
    height: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
}


/***************************************
 * LOGIN/REGISTER
 ***************************************/

.center-box {
    display: flex;
    flex-direction: column;
    align-items: center;
}


/***************************************
 * HOME
 ***************************************/

.post-img {
    width: 250px;
    height: 137px;
    padding-right: 20px;
    object-fit: cover;
}

.blog-user-img{
    width: 50px;
    border: 2px solid white;
}

.article-metadata a {
    margin-left: 15px;
}

/***************************************
 * MIKROBLOG
 ***************************************/

.micro-post-img{
    width: 500px;
}


/***************************************
 * POST DETAILS
 ***************************************/

.post-details-img {
    object-fit: cover;
    width: 100%;
}


/***************************************
 * COMMENTS
 ***************************************/
.comment-owner-img {
    width: 55px;
}

.comment-bottom-border {
    border-bottom: 1px solid gainsboro;
}

.comment-img {
    width: 80%;
}

.comment-sort-box {
    cursor: pointer;
}

.comment-sort-box:hover {
    background-color: #eaeaea;
}

/***************************************
 * PROFILE
 ***************************************/
.username {
    color: deeppink;
    font-size: 25px;
}

.edit-profile-icon {
    display: flex;
    justify-content: center;
    align-items: center;
}

.edit-profile-icon i{
  padding: 0 5px;
}

.avatar-img-div {
    position: relative;
    display: flex;
    justify-content: center;
}

.edit-avatar {
    position: absolute;
    width: 35px;
    height: 35px;
    left: 15px;
    bottom: 10px;
    background-image: url("images/add-photo.png");
    background-repeat: no-repeat;
    background-size: contain;
    cursor: pointer;
}

.account-img {
    width:150px;
    margin-top: -100px;
    border: 2px solid white;
}

.background-img {
    object-fit: cover;
    height: 250px;
    width: 100%;
}

.background-text {
    position:absolute;
    width: 100%;
    height: 250px;
    visibility:hidden;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    background-color: rgba(0,0,0,.2);
    color: white;
    font-weight: bold;
}

.background-img-div {
    position: relative;
    text-align: center;
}

.background-img-div:hover .background-text  {
    visibility:visible;
    border: 1px dashed white;
}

.profile-box {
    padding: 10px 0;
    border-bottom: 1px solid gainsboro;
}

.profile-activity-box-border {
    border-right: 1px solid gainsboro;
    border-left: 1px solid gainsboro;
}

/***************************************
 * SIDE BOX
 ***************************************/

.border-line {
    border: 3px solid gainsboro;
}

.side-box-post-img {
    width: 100%;
    height: 60px;
    object-fit: cover;
}

.side-box-post-text {
    display: flex;
    flex-direction: column;
}

.side-box-border {
    border-bottom: 1px solid gainsboro;
    padding: 8px;
}
/***ukrywa side-section przy niższej rozdzielce***/
@media (max-width: 990px) {
  .side-section {
      display: none;
  }
}

