{% extends "blog/base.html" %}
{% block content %}
    {% load humanize %}
    <div class="profile-wrapper">
        <div class="row mt-1">
            <div class="col">
                <div class="row background-img-div border-line">
                    {% if user == request.user %}
                        <a href="{% url 'background-edit' pk=user.id %}">
                            <span class="background-text"> Zmień swoje zdjęcie w tle!</span>
                        </a>
                    {% endif %}
                    {% if user.background %}
                        <img class="background-img" src="{{ user.background.url }}" alt="avatar">
                    {% else %}
                        <div class="background-img bg-light">
                        </div>
                    {% endif %}
                </div>
                <div class="row bg-light border-line align-items-center">
                    <div class="avatar-img-div">
                        <img class="rounded-circle account-img ml-2" src="{{ user.avatar.url }}" alt="avatar">
                        {% if user == request.user %}
                            <a href="{% url 'avatar-edit' pk=user.id %}">
                                <div class="edit-avatar"></div>
                            </a>
                        {% endif %}
                    </div>
                    <div class="col d-flex justify-content-between">
                    <div>
                        <span class="username"> {{ user.username }}</span>
                        {% if user.id == request.user.id %}
                            <a href="{% url 'profile-edit' pk=user.id %}" class="blue-font">
                                <i class="icon icon-pencil"></i>
                            </a>
                        {% endif %}
                        <small> na wypoku od {{ user.date_joined|naturaltime }} </small>
                    </div>

                        <div class="">
                            <a href="{% url 'user-subscribe' pk=user.id %}"
                               class="text-decoration-none btn {% if is_subscribed %} btn-info {% else %} btn-outline-info {% endif %}"
                               title="Zaobserwuj tego użytkownika aby być na bieżąco z jego wpisami!">
                                <i class="icon-eye mr-2"> 312 </i>
                            </a>
                            <a href="{% url 'user-block' pk=user.id %}"
                               class="text-decoration-none btn {% if is_blocked %} btn-danger {% else %}btn-outline-danger {% endif %}"
                               title="Zablokuj tego użytkownika aby nie widzieć treści pisanych przez niego!">
                                <i class="icon-lock">12</i>
                            </a>
                        </div>
                    </div>
                </div>
                <div class="row bg-light border-line p-3">
                    <div class="col">
                        <div class="row justify-content-start profile-box">
                            <div class="col-3">
                                Imię:
                            </div>
                            <div class="col-4">
                                {{ user.username }}
                            </div>
                        </div>
                        <div class="row justify-content-start profile-box">
                            <div class="col-3">
                                Wiek:
                            </div>
                            <div class="col-4">
                                {% if user.birth_date %}
                                    {{ user.birth_date | naturalday }}
                                {% endif %}
                            </div>
                        </div>
                        <div class="row justify-content-start profile-box">
                            <div class="col-3">
                                E-mail:
                            </div>
                            <div class="col-4">
                                {{ user.public_email }}
                            </div>
                        </div>
                        <div class="row justify-content-start profile-box">
                            <div class="col-3">
                                O mnie:
                            </div>
                            <div class="col-4">
                                {{ user.bio }}
                            </div>
                        </div>
                        <div class=" row justify-content-start">
                            <div class="p-2">
                                {% if user.ig %}
                                    <a href="{{ user.ig }}" target="_blank">
                                        <i class="icon icon-instagram"></i>
                                    </a>
                                {% endif %}
                            </div>
                            <div class="p-2">
                                {% if user.facebook %}
                                    <a href="{{ user.facebook }}" target="_blank">
                                        <i class="icon icon-facebook-squared"></i>
                                    </a>
                                {% endif %}
                            </div>
                            <div class="p-2">
                                {% if user.twitter %}
                                    <a href="{{ user.twitter }}" target="_blank">
                                        <i class="icon icon-twitter-circled"></i>
                                    </a>
                                {% endif %}
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="bg-light col-12 col-md-9 border-line pt-3 text-center">
                        <span>Aktywności użytkownika</span>
                        <div class="row p-3">
                            <div class="col-sm-12 col-md-4 box-item profile-activity-box">{{ user_reactions }} akcji
                            </div>
                            <div class="col-sm-12 col-md-4 box-item profile-activity-box-border">{{ user_posts }}
                                posty
                            </div>
                            <div class="col-sm-12 col-md-4 box-item profile-activity-box">{{ user_micro_posts_reactions }}
                                mikroblog
                            </div>
                        </div>
                    </div>

                    <div class="bg-light col-12 col-md-3 border-line pt-3 text-center">
                        <span>Osiągnięcia</span>
                        <div class="row pt-3 pb-3 pl-2 pr-2 ">
                            <div class="col-sm-12 col-md-4">Pierwsze</div>
                            <div class="col-sm-12 col-md-4">Drugie</div>
                            <div class="col-sm-12 col-md-4">Trzecie</div>
                        </div>

                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock content %}
